.all{
    color: #00ff00;
    font-family: 'Courier New', Courier, monospace;
    padding: 0;
    margin: 0;
}

.b{
    border: none;
    background-color: black;
}

div{
    margin: 0;
    padding: 0;
}
